<script setup>
import { store } from '@/store/'
import { mapActions } from 'pinia'
import { shapes } from '@/const/'
</script>

<template>
  <ul class="actions">
    <li v-for="shape in shapes" :key="shape">
      <button @click="answer(shape)" :class="shape">
        <img :src="`${shape}_1.png`" />
      </button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Actions',
  methods: {
    ...mapActions(store, ['answer']),
  },
}
</script>

<style scoped lang="scss">
.actions {
  .ratón {
    border: 2px solid grey;
  }
  .libro {
    border: 2px solid blue;
  }
  .fantasma {
    border: 2px solid white;
  }
  .botella {
    border: 2px solid green;
  }
  .sillón {
    border: 2px solid red;
  }
  display: flex;
  justify-content: center;

  li {
    margin: 0.2em;
  }
  button {
    width: 60px;
    height: 60px;
    background-color: white;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
