<script setup>
import { store } from '@/store/'
import { mapState, mapActions } from 'pinia'
import { colors } from '@/const/'
</script>

<script>
export default {
  name: 'Card',
  computed: {
    ...mapState(store, ['cards', 'solution']),
  },
  methods: {
    ...mapActions(store, ['reset']),
  },
}
</script>

<template>
  <div class="card-list">
    <div class="card-wrapper">
      <div class="card" v-for="card in cards" :key="card">
        <img :class="card.color" :src="`${card.shape}_1.png`" />
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
img {
  width: 100%;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 300px;
  margin: auto;
  padding: 2%;
  border: 2px solid black;
  border-radius: 5%;
}
.card {
  max-width: 220px;
}
.card-list {
  text-align: center;
}
.rojo {
  background-color: red;
}
.azul {
  background-color: blue;
}
.verde {
  background-color: green;
}
.blanco {
  background-color: white;
}
.gris {
  background-color: grey;
}
</style>
