<script setup>
import { store } from '@/store/'
import { mapState, mapActions } from 'pinia'
</script>

<template>
  <div>
    <p>perdiste</p>
    <p>hiciste {{ score }} puntos</p>
    <button @click="newGame">Jugar de nuevo</button>
  </div>
</template>

<script>
export default {
  methods: {
    ...mapActions(store, ['newGame']),
  },
  computed: {
    ...mapState(store, ['state', 'cards', 'score']),
  },
}
</script>

<style scoped lang="scss">
div {
  font-size: 2em;
  text-align: center;
}
</style>
