<script setup>
import { store } from '@/store/'
import { mapActions } from 'pinia'
</script>

<template>
  <div>
    <button @click="newGame">Empezar</button>
  </div>
</template>

<script>
  export default{
    methods: {
      ...mapActions(store, ['newGame']),
    },
  }
</script>

<style scoped lang="scss">
div {

  display: flex;
  justify-content: center;
  margin: auto;

  button {
    margin-top: 10%;
    font-size: 2em;
    padding: 0.1em 1em;
  }
}

</style>

